 * {
     margin: 0px;
     padding: 0px;
 }

 .error {
     color: red;
     font-size: small;
 }

 .container {
     background: #e7e0e0;
     width: 100%;
     height: 100vh;
     align-items: center
 }

 .title {
     text-align: center;
 }

 .userForm {
     background-color: #28322b6e;
     margin-top: 8vh;
     margin-left: auto;
     margin-right: auto;
     width: 50vw;
     height: 60vh;
     border: 1px solid #131323;
     display: grid;
     grid-template-columns: repeat(2, 2fr);
     grid-auto-rows: (300px);
     gap: 8%;
     align-items: center;
     padding: 30px;
 }

 .userField>input {
     margin-top: 1px;
     width: 99%;
     height: 40px;
 }

 .userField>.inputField {
     width: 84%;
     height: 40px;
 }

 .userField>.countryCode {
     width: 50px;
     height: 42.2px;
 }

 .address {
     margin-top: 1px;
     width: 100%;
     height: 42px;
 }

 .buttonSubmit {
     margin-left: 70%;
     background: rgb(72, 134, 72);
     width: 70%;
     height: 6vh;
 }

 .main {
     height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .otpContainer {
     width: 11%;
     height: 20vh;
     padding: 20px;
     border: 1px solid rgba(92, 55, 55, 0.267);
 }

 .otpContainer>button {
     width: 4vw;
     height: 5vh;
     border-radius: 10%;
     margin: 5%;
     margin-top: 20%;
 }


 .otpContainer>.otpResend {
     background: #d4a7a7;
 }

 .otpContainer>.otpSubmit {
     background: #67a568;
 }