 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }

 .error {
     color: red;
     font-size: small;
 }

 .container {
     background: rgb(226, 226, 225);
     width: 100%;
     height: 100vh;
     align-items: center
 }

 .title {
     text-align: center;
 }

 .mainform {
     background-color: whitesmoke;
     width: 50vw;
     min-height: 70vh;
     display: flex;
     flex-wrap: wrap;
     border-radius: 1%;
     margin-top: 8vh;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #bcbcca;
     gap: 10%;
     padding: 3%;
 }

 .userField>input {
     width: 19vw;
     height: 40px;
     border: 1px solid #bcbcca;
     margin-top: 5%;
     padding: 2%;

 }

 .userField>.inputField {
     border-left: 0px solid whitesmoke;
     width: 16vw;
     height: 40px;
 }

 .userField>.countryCode {
     border: 1px solid #bcbcca;
     border-right: 0px solid whitesmoke;
     margin-top: 5%;
     width: 3vw;
     height: 40px;
 }

 .address {
     margin-top: 5%;
     border: 1px solid #bcbcca;
     width: 19vw;
     height: 40px;
 }

 .buttonSubmit {
     background: rgb(72, 134, 72);
     width: 17vw;
     height: 6vh;
     margin-top: 5%;
     margin-left: auto;
     margin-right: auto;
     font-size: large;
 }

 .main {
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .title {
     justify-content: center;
 }

 .otpContainer {
     width: 25vw;
     height: 40vh;
     padding: 2%;
     border: 1px solid rgba(92, 55, 55, 0.267);
     justify-content: center;
 }

 .otpContainer>button {
     background-color: rgb(103, 195, 231);
     border: 2px solid grey;
     width: 18vw;
     height: 7vh;
     border-radius: 8%;
     margin-left: 7%;
     margin-top: 8%;
 }



 @media only screen and (max-width: 700px) {
     .mainform {
         height: auto;
     }

     .userField>input {
         width: 100%;

     }

     .userField>input {
         width: 43vw;
     }

     .userField>.inputField {
         margin-left: 0%;
         width: 35vw;
     }

     .userField>.countryCode {
         width: 8vw;
     }

     .address {
         margin-top: 5%;
         border: 1px solid #bcbcca;
         width: 43vw;
     }

     .buttonSubmit {
         width: 43vw;
         height: 6vh;
     }



     .otpContainer {
         width: 35vw;
         height: 20vh;
     }

     .otpContainer>button {
         background-color: rgb(103, 195, 231);
         border: 2px solid grey;
         width: 25vw;
         height: 4vh;
     }

 }